@page

<header>
    <h1>Test Versioned File Provider</h1>
</header>

<main>
    <p>
        <link id="lnk-demo1-append-version" href="~/js/demo1.js" asp-append-version="true" />
        <span>Demo 1 File with Append Version: </span>
        <a data-display-href="#lnk-demo1-append-version"></a>
    </p>
    <p>
        <link id="lnk-demo1-append-version-version" href="~/js/v1/demo1.js" asp-append-version="true" />
        <span>Demo 1 File with Version and Append Version: </span>
        <a data-display-href="#lnk-demo1-append-version-version"></a>
    </p>
    <p>
        <link id="lnk-demo1-append-version-version2" href="~/js/v1.0.1/demo1.js" asp-append-version="true" />
        <span>Demo 1 File with Version and Append Version: </span>
        <a data-display-href="#lnk-demo1-append-version-version2"></a>
    </p>
    <p>
        <link id="lnk-demo1-append-version-version3" href="~/js/version/v1.0.1/demo3.js" asp-append-version="true" />
        <span>Demo 3 File with Version and Append Version: </span>
        <a data-display-href="#lnk-demo1-append-version-version3"></a>
    </p>

    <hr />

    <h2>Non-existence Files</h2>

    <p>
        <link id="lnk-non-1" href="~/js/version/v1/v2/demo1.js" asp-append-version="true" />
        <span>File not exist 1: </span>
        <a data-display-href="#lnk-non-1"></a>
    </p>

    <p>
        <link id="lnk-non-2" href="~/v1/demo1.js" asp-append-version="true" />
        <span>File not exist 2: </span>
        <a data-display-href="#lnk-non-2"></a>
    </p>
</main>

<script>
    document.querySelectorAll("[data-display-href]").forEach(el => {
        let attr = el.getAttribute("data-display-href");
        el.href = el.innerHTML = document.querySelector(attr).getAttribute("href");
        el.target = "_blank";
    });
</script>